<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genertech.lcm.aircraftinfo.dao.SoftwareRoleMapper">
  <resultMap id="BaseResultMap" type="com.genertech.lcm.aircraftinfo.dto.SoftwareRole">
    <result column="PARTNO_ID" jdbcType="VARCHAR" property="partnoId" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="DEPT_ID" jdbcType="VARCHAR" property="deptId" />
    <result column="APPROVAL_ROLE_ID" jdbcType="VARCHAR" property="approvalRoleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PARTNO_ID, ROLE_ID, DEPT_ID, APPROVAL_ROLE_ID
  </sql>
  <select id="selectByExample" parameterType="com.genertech.lcm.aircraftinfo.dto.SoftwareRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_SOFTWARE_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.genertech.lcm.aircraftinfo.dto.SoftwareRole">
    insert into T_SOFTWARE_ROLE (PARTNO_ID, ROLE_ID, DEPT_ID, 
      APPROVAL_ROLE_ID)
    values (#{partnoId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}, 
      #{approvalRoleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.genertech.lcm.aircraftinfo.dto.SoftwareRole">
    insert into T_SOFTWARE_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partnoId != null">
        PARTNO_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="approvalRoleId != null">
        APPROVAL_ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partnoId != null">
        #{partnoId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="approvalRoleId != null">
        #{approvalRoleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.genertech.lcm.aircraftinfo.dto.SoftwareRoleExample" resultType="java.lang.Integer">
    select count(*) from T_SOFTWARE_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_SOFTWARE_ROLE
    <set>
      <if test="record.partnoId != null">
        PARTNO_ID = #{record.partnoId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null">
        ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalRoleId != null">
        APPROVAL_ROLE_ID = #{record.approvalRoleId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_SOFTWARE_ROLE
    set PARTNO_ID = #{record.partnoId,jdbcType=VARCHAR},
      ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
      DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      APPROVAL_ROLE_ID = #{record.approvalRoleId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
 
</mapper>